#logo{
    position: relative;
    top: 43%;
    z-index: 100;
    margin: 0 auto 20px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
