:root{
	--roulette-color-1: #6f6f6f;
	--roulette-color-2: #FF671D;
    --color-secondary: rgb(0, 132, 255);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body,
main {
    height: 100%;
}
body {
    background: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
body main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.button-container {
    display: flex;
    justify-content: center;
}

.button-container button {
    border: none;
    outline: none;
    padding: 15px 100px;
    background: #2287ed;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.button-container button:hover {
    background: #2889ea;
}

.button-container button:active {
    background: #1781ec
}

/****?  ROULETTE.CSS ****/
main .roulette-container {
    position: relative;
}
#roulette {
    background: #fff;
    width: 400px;
    height: 400px;
    position: relative;
    font-size: 14px;
    overflow: hidden;
    border-radius: 100%;
    transition-property: transform;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

#roulette .roulette-section {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
    color: whitesmoke;
}

#roulette .roulette-section .roulette-section-container {
    position: absolute;
    left: -100%;
    z-index: 50;
    width: 200%;
    height: 200%;
    text-align: center;
    padding-top: 60px;
    transform: skewY(60deg) rotate(15deg);
    -webkit-transform: skewY(60deg) rotate(15deg);
    -moz-transform: skewY(60deg) rotate(15deg);
    -ms-transform: skewY(60deg) rotate(15deg);
    -o-transform: skewY(60deg) rotate(15deg);
}

#roulette .roulette-section .roulette-section-container p {
    margin-top: 30px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.button-container {
    margin-top: 50px;
}

.button-container button#reset {
    display: none;
}

/****?  ROULETTE-COLORS.CSS ****/
#roulette .roulette-section:first-child .roulette-section-container {
    background: var(--roulette-color-1); 
}
#roulette .roulette-section:nth-child(2) .roulette-section-container {
	background: var(--roulette-color-2); 
}
#roulette .roulette-section:nth-child(3) .roulette-section-container {
	background: var(--roulette-color-1); 
}
#roulette .roulette-section:nth-child(4) .roulette-section-container {
	background: var(--roulette-color-2);  
}
#roulette .roulette-section:nth-child(5) .roulette-section-container {
	background: var(--roulette-color-1);  
}
#roulette .roulette-section:nth-child(6) .roulette-section-container {
	background: var(--roulette-color-2);  
}
#roulette .roulette-section:nth-child(7) .roulette-section-container {
	background: var(--roulette-color-1);  
}
#roulette .roulette-section:nth-child(8) .roulette-section-container {
	background: var(--roulette-color-2);  
}
#roulette .roulette-section:nth-child(9) .roulette-section-container {
	background: var(--roulette-color-1);  
}
#roulette .roulette-section:nth-child(10) .roulette-section-container {
	background: var(--roulette-color-2);  
}
#roulette .roulette-section:nth-child(11) .roulette-section-container {
	background: var(--roulette-color-1);  
}
#roulette .roulette-section:nth-child(12) .roulette-section-container {
	background: var(--roulette-color-2);  
}


/****?  ROULETTE-ROTATION.CSS ****/
#roulette .roulette-section:first-child {
    transform: rotate(0deg) skewY(-60deg);
    -webkit-transform: rotate(0deg) skewY(-60deg);
    -moz-transform: rotate(0deg) skewY(-60deg);
    -ms-transform: rotate(0deg) skewY(-60deg);
    -o-transform: rotate(0deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(2) {
    transform: rotate(30deg) skewY(-60deg);
    -webkit-transform: rotate(30deg) skewY(-60deg);
    -moz-transform: rotate(30deg) skewY(-60deg);
    -ms-transform: rotate(30deg) skewY(-60deg);
    -o-transform: rotate(30deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(3) {
    transform: rotate(60deg) skewY(-60deg);
    -webkit-transform: rotate(60deg) skewY(-60deg);
    -moz-transform: rotate(60deg) skewY(-60deg);
    -ms-transform: rotate(60deg) skewY(-60deg);
    -o-transform: rotate(60deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(4) {
    transform: rotate(90deg) skewY(-60deg);
    -webkit-transform: rotate(90deg) skewY(-60deg);
    -moz-transform: rotate(90deg) skewY(-60deg);
    -ms-transform: rotate(90deg) skewY(-60deg);
    -o-transform: rotate(90deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(5) {
    transform: rotate(120deg) skewY(-60deg);
    -webkit-transform: rotate(120deg) skewY(-60deg);
    -moz-transform: rotate(120deg) skewY(-60deg);
    -ms-transform: rotate(120deg) skewY(-60deg);
    -o-transform: rotate(120deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(6) {
    transform: rotate(150deg) skewY(-60deg);
    -webkit-transform: rotate(150deg) skewY(-60deg);
    -moz-transform: rotate(150deg) skewY(-60deg);
    -ms-transform: rotate(150deg) skewY(-60deg);
    -o-transform: rotate(150deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(7) {
    transform: rotate(180deg) skewY(-60deg);
    -webkit-transform: rotate(180deg) skewY(-60deg);
    -moz-transform: rotate(180deg) skewY(-60deg);
    -ms-transform: rotate(180deg) skewY(-60deg);
    -o-transform: rotate(180deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(8) {
    transform: rotate(210deg) skewY(-60deg);
    -webkit-transform: rotate(210deg) skewY(-60deg);
    -moz-transform: rotate(210deg) skewY(-60deg);
    -ms-transform: rotate(210deg) skewY(-60deg);
    -o-transform: rotate(210deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(9) {
    transform: rotate(240deg) skewY(-60deg);
    -webkit-transform: rotate(240deg) skewY(-60deg);
    -moz-transform: rotate(240deg) skewY(-60deg);
    -ms-transform: rotate(240deg) skewY(-60deg);
    -o-transform: rotate(240deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(10) {
    transform: rotate(270deg) skewY(-60deg);
    -webkit-transform: rotate(270deg) skewY(-60deg);
    -moz-transform: rotate(270deg) skewY(-60deg);
    -ms-transform: rotate(270deg) skewY(-60deg);
    -o-transform: rotate(270deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(11) {
    transform: rotate(300deg) skewY(-60deg);
    -webkit-transform: rotate(300deg) skewY(-60deg);
    -moz-transform: rotate(300deg) skewY(-60deg);
    -ms-transform: rotate(300deg) skewY(-60deg);
    -o-transform: rotate(300deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(12) {
    transform: rotate(330deg) skewY(-60deg);
    -webkit-transform: rotate(330deg) skewY(-60deg);
    -moz-transform: rotate(330deg) skewY(-60deg);
    -ms-transform: rotate(330deg) skewY(-60deg);
    -o-transform: rotate(330deg) skewY(-60deg);
}

/****?  ROULETTE-ARROW.CSS ****/
#arrow {
    position: absolute;
    top: 60px;
    left: 170px;
    width: 60px;
    z-index: 110;
    color:var(--color-secondary) ;
}


/****?  ROULETTE-LOGO.CSS ****/
#logo{
    position: relative;
    top: 43%;
    z-index: 100;
    margin: 0 auto 20px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


/****? MODAL ****/
